@import "tailwindcss";

:root {

  --page-bg: #ffffff;
  --page-text: #111111;

}


[data-mode="dark"] {

  --page-bg: #050505;
  --page-text: #ffffff;

}

/* Smooth transitions */
* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}



html,
body {
  margin: 0;
  padding: 0;
  background: var(--page-bg);
  color: var(--page-text);
}

.elevation-0 {
  box-shadow: none;
}

.elevation-1 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
}
 
  

/* Gradient text selection */
::selection {
  background: linear-gradient(45deg, rgba(59, 130, 246, 0.2), rgba(168, 85, 247, 0.2));
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #111111;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 10px;
  border: 2px solid #111111;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}


/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 #111111;
}